/**
 * Created by nida78 on 28.07.2015.
 */
p.wiki-usage {
    margin-bottom: 25px;
}

p.wiki-usage span.bold-teletyper {
    font-family: 'Courier', monospace;
    font-weight: bold;
}

#wiki-urls-table,
#wiki-urls-table th,
#wiki-urls-table td {
    border: 1px solid #fff;
    margin-top: 25px;
    width: auto;
}

#wiki-urls-table tr.state-ok {
    background-color: #090;
}

#wiki-urls-table tr.state-fail {
    background-color: #900;
}

#wiki-urls-table th {
    text-align: center;
}

#wiki-urls-table .row1 {
    text-align: center;
    width: 100px;
}

#wiki-urls-table .row5 {
    text-align: center;
    width: 130px;
}

#wiki-urls-table .row6 {
    text-align: center;
    width: 130px;
}

#wiki-urls-table tr#wiki-url-row-template {
    background-color: blue;
    display: none;
}

#wiki-urls-table img.loadingAnimationBar {
    height: 20px;
    width: 120px;
    display: none;
}

ul#wiki-tooltip-admin-theme-list li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

ul#wiki-tooltip-admin-theme-list li label input {
    margin-top: -5px;
}

ul#wiki-tooltip-admin-theme-list li label span {
    display: inline-block;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    opacity: 0.8;
}

.tooltipster-default-preview {
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tooltipster-light-preview {
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: #ededed;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-punk-preview {
    border-radius: 5px;
    border-bottom: 3px solid #f71169;
    background: #2a2a2a;
    color: #fff;
    font-family: 'Courier', monospace;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-noir-preview {
    border-radius: 0px;
    border: 3px solid #2c2c2c;
    background: #fff;
    color: #2c2c2c;
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-shadow-preview {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    color: #2c2c2c;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}
