/**
 * Created by nida78 on 28.07.2015.
 */
p#wiki-usage {
    margin-bottom: 25px;
}

p#wiki-usage span.bold-teletyper {
    font-family: 'Courier', monospace;
    font-weight: bold;
}

ul#wiki-tooltip-admin-theme-list li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

ul#wiki-tooltip-admin-theme-list li label input {
    margin-top: -5px;
}

ul#wiki-tooltip-admin-theme-list li label span {
    display: inline-block;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    opacity: 0.8;
}

.tooltipster-default-preview {
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tooltipster-light-preview {
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: #ededed;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-punk-preview {
    border-radius: 5px;
    border-bottom: 3px solid #f71169;
    background: #2a2a2a;
    color: #fff;
    font-family: 'Courier', monospace;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-noir-preview {
    border-radius: 0px;
    border: 3px solid #2c2c2c;
    background: #fff;
    color: #2c2c2c;
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-shadow-preview {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    color: #2c2c2c;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}
