/**
 * Created by nida78 on 28.07.2015.
 */
p.wiki-usage {
    margin-bottom: 25px;
}

p.wiki-usage span.bold-teletyper {
    font-family: 'Courier', monospace;
    font-weight: bold;
}

#wiki-urls-table,
#wiki-urls-table th,
#wiki-urls-table td {
    border: 1px solid #fff;
    margin-top: 25px;
    width: auto;
}

#wiki-urls-table tr.state-ok {
    background-color: #090;
}

#wiki-urls-table tr.state-fail {
    background-color: #900;
}

#wiki-urls-table th {
    text-align: center;
}

#wiki-urls-table .row1 {
    text-align: center;
    width: 100px;
}

#wiki-urls-table .row5 {
    text-align: center;
    width: 130px;
}

#wiki-urls-table .row6 {
    text-align: center;
    width: 130px;
}

#wiki-urls-table tr#wiki-url-row-template {
    background-color: blue;
    display: none;
}

#wiki-urls-table img.loadingAnimationBar {
    height: 20px;
    width: 120px;
    display: none;
}

.wiki-form-indent-left {
    padding-left: 25px;
}

.wiki-form-indent-left.description {
    font-weight: bold;
    margin-bottom: -5px;
}

.wiki-page-error-handling-list label {
    display: block;
    float: left;
    width: 110px;
    text-align: right;
    margin: 6px 6px 0 0;
}

.wiki-page-error-handling-list textarea {
    height: 130px;
}

span#own-error-message-desc {
    margin-left: 120px;
}

ul#wiki-tooltip-admin-theme-list li,
ul#wiki-tooltip-admin-animation-list li {
    margin-bottom: -5px;
}

ul#wiki-tooltip-admin-theme-list li,
ul#wiki-tooltip-admin-animation-list li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

ul#wiki-tooltip-admin-theme-list li label input,
ul#wiki-tooltip-admin-animation-list li label input {
    margin-top: -5px;
}

ul#wiki-tooltip-admin-theme-list li label span {
    display: inline-block;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    opacity: 0.8;
}

ul#wiki-tooltip-admin-animation-list li label span {
    display: inline-block;
    padding: 0.25em;
    margin-right: 1em;
    margin-bottom: 0.25em;
    opacity: 0.8;
}

.tooltipster-preview {
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    width: 70px;
}

#tooltipster-theme-default-preview {
    border-radius: 5px;
    border: 2px solid #000;
    background: #565656;
    color: #fff;
}

#tooltipster-theme-light-preview {
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: #ededed;
    color: #666666;
}

#tooltipster-theme-borderless-preview {
    border-radius: 5px;
    border: 0px;
    background: rgba(10,10,10,0.90);
    color: #fff;
}

#tooltipster-theme-punk-preview {
    border-radius: 5px;
    border-bottom: 3px solid #f71169;
    background: #2a2a2a;
    color: #fff;
}

#tooltipster-theme-noir-preview {
    border-radius: 0px;
    border: 3px solid #000;
    background: #fff;
    color: #000;
}

#tooltipster-theme-shadow-preview {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    color: #8d8d8d;
}
